<!DOCTYPE html>
<html ng-app="store" lang="en">

  <head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <script src="products.js"></script>
  </head>

  <body ng-controller="items as a">

    <div ng-controller="panelSelecter as panel" class="container">

        <nav-bar></nav-bar>

  <div ng-show="panel.isSelected(1)" class="list-group">
     <div ng-show="product.canPurchase" ng-repeat="product in a.products" class="list-group">
          <h3 class="list-group-item">{{product.name}}</h3>
          <li class="list-group-item">{{product.price}}</li>
          <li class="list-group-item">{{product.description}}</li>
          <button type="button" class="btn btn-success">Add to Cart</button>
          <hr>
    </div>
</div>


    <div ng-show="panel.isSelected(2)">
        <blockquote ng-repeat="product in a.products">
            <div ng-repeat="review in product.reviews">
                <p>{{review.name}}</p>
                <p>{{review.email}}</p>
                <p>{{review.details}}</p>
                <p>{{review.stars}}</p>
            </div>
<br>

        </blockquote>

        <live-review-form-preview>
        </live-review-form-preview>

            <form name="reviewForm" ng-submit="reviewForm.$valid && reviewCtrl.addReview(a.products)" novalidate>
                <review-form></review-form>
            </form>


    </div>

</div>


  </body>

</html>
