<!DOCTYPE html>
<html ng-app="store" lang="en">

  <head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="items">

    <div ng-controller="panelSelecter as panel" class="container">
  <h3>Items</h3>
  <ul class="nav nav-pills">
      <li ng-class="{active : panel.isSelected(1)}"><a href="#" ng-click="panel.selectTab(1)">Items List</a></li>
      <li ng-class="{active : panel.isSelected(2)}"><a href="#" ng-click="panel.selectTab(2)">Reviews</a></li>
      <li ng-class="{active : panel.isSelected(3)}"><a href="#" ng-click="panel.selectTab(3)">Contact</a></li>
      <li ng-class="{active : panel.isSelected(4)}"><a href="#" ng-click="panel.selectTab(4)">Report a problem</a></li
<br>
  </ul>

  <div ng-show="panel.isSelected(1)" class="list-group">
     <div ng-show="product.canPurchase" ng-repeat="product in products" class="list-group">
          <h3 class="list-group-item">{{product.name}}</h3>
          <li class="list-group-item">{{product.price}}</li>
          <li class="list-group-item">{{product.description}}</li>
          <button type="button" class="btn btn-success">Add to Cart</button>
          <hr>
    </div>
</div>


    <div ng-show="panel.isSelected(2)" ng-controller="ReviewController as reviewCtrl">
        <blockquote ng-repeat="product in products">
            <div ng-repeat="review in product.reviews">
                <p>{{reviewCtrl.review.name}}</p>
                <p>{{reviewCtrl.review.details}}</p>
                <p>{{reviewCtrl.review.stars}}</p>
            </div>
<br>

        </blockquote>

        <form name="reviewForm" ng-submit="reviewCtrl.addReview(product)">
            <p>Please write your review here</p>
            <p>Your Name : {{reviewCtrl.review.name}}
                <input type="text" ng-model="reviewCtrl.review.name"/>
            </p>
            <p>Review : {{reviewCtrl.review.details}}</p>
            <textarea ng-model="reviewCtrl.review.details"></textarea>
            <br>
            <p>Stars : {{reviewCtrl.review.stars}}</p>
            <select ng-model="reviewCtrl.review.stars" name="stars">
                <option value="5" selected="selected">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
            <input type="submit" value="Submit" />
        </form>
    </div>

</div>


  </body>

</html>
