<h3>Items</h3>
<ul class="nav nav-pills">
    <li ng-class="{active : panel.isSelected(1)}"><a href="#" ng-click="panel.selectTab(1)">Items List</a></li>
    <li ng-class="{active : panel.isSelected(2)}"><a href="#" ng-click="panel.selectTab(2)">Reviews</a></li>
    <li ng-class="{active : panel.isSelected(3)}"><a href="#" ng-click="panel.selectTab(3)">Contact</a></li>
    <li ng-class="{active : panel.isSelected(4)}"><a href="#" ng-click="panel.selectTab(4)">Report a problem</a></li
<br>
</ul>
