<p>Please write your review here</p>

Your Name : <input type="text" ng-model="reviewCtrl.review.name" required/>
<br>
<br>
<p>Email address :
    <input type="email" ng-model="reviewCtrl.review.email" required/>
</p>

<p>Review : </p>
<textarea ng-model="reviewCtrl.review.details" required></textarea>

<br>

<p>Stars : </p>
<select ng-model="reviewCtrl.review.stars" name="stars" required>
    <option selected="selected" value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
</select>

<div>Review form is {{reviewForm.$valid}}</div>

<input type="submit" value="Submit" />
